

.logo{
  color: blue;
  font-weight: bold;
}

.navbar-inverse .navbar-text{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 300;
  height: 22px;
  margin-top: 11px;
  margin-left: -11px;
}

.navbar-nav{
  margin-left: 30px;

}
.navbar-nav li>a{
  color: white;
}

.navbar-brand{
  margin-top: -5px;
}

.carousel{
  border-bottom: solid blue 8px;
  background-image: url("banner-bg-1.jpg");
  height: auto;
  background-size: cover;
}

h2{
  color: white;
}
h3{
  color: white;


}

.font{
  color: white;
  font-size: 14px;
}

.content{
  margin-top: 10vh;
}

.info{
  margin-top: 5em;
  text-align: center;
}
.info img{
  height: 5em;

}

.info h4{
  padding-top: 15px;
}
.info p a{
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 3px;
}

.panel3{
  background-color: #f9f8f8;
  margin-top: 20px;
  text-align: center;
  height: auto;
}

.content3{
  margin-bottom: 20px;
}
.panel3 h3{
  color: #353535;
  font-size:
}

.panel4 h3{
  color: #353535;
}

.btn-danger{
  margin-top: 10px;
  width: 10em;
}


.thumb{
  margin-top: 5em;
  text-align: center;

}
.thumb img{
  height: 12em;


}

.thumb h4{
  padding-top: 15px;
}
.thumb p {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 3px;
}


.panel5{
  background-color: #f9f8f8;
height: auto;
}

.panel5{
  padding-bottom: 25px;
}
.panel6{
  text-align: center;
}

.panel6 h3{
  font-size: 23px;
  color: #353535;
}

.thumbnail{
  background-color: #fcfcfc;
  margin-top: 5em;
}
.thumbnail img{
  height: 8em;
  width: 8em;
  margin-top: -55px;
}

.caption p{
  font-style: italic;
}


.footer1{
  background-color: #1d2123;
  padding-bottom: 15px;
}

.footer1 p{
  color: #6e7980;
}

.business{
  color: #8996a0;
  font-size: 14px;
}
h6{
  color: white;
  font-size: 20px;
}

.pic img{
  padding-top: 5px;
  height: 50px;
}

.footer2{
  padding-top: 15px;
  text-align: center;
  background-color: #2f373b;
}

.footer2 p{
  color: white;
  text-align: center;
}
